# OS X
.DS_Store

*.mode1v3
*.pbxuser
/native/iOS/test/build/

# iOS
*.xcworkspace
xcuserdata
native/ios/build
target/ios/www
target/ios/MenuPlugin/Plugins

# Android
target/android/assets/www
target/android/bin
target/android/src

/target/ios/build/